<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
   
    

    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
    </svg>
  
    <h1 class="display-3">FFCS exchanger</h1>
    <p class="lead">Exchange your FFCs slots with others conviniently</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/users/" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/users/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
